In [94]:
import numpy as np
import pandas as pd
import seaborn as sns

In [95]:
path = r"E:\Metro1\raw_data\\"

egress_df=pd.read_csv(path+"egress_data.csv")

df=pd.read_csv(path+"access_data.csv")

In [96]:
df['18'].value_counts()

18
18-25 yrs     409
26-35 yrs     230
36-45 yrs     105
46-60 yrs      51
> 60 yrs       11
18-25yrs       10
26-35yrs        8
36-45yrs        3
Name: count, dtype: int64

In [97]:
df.groupby('18')['4'].value_counts()

18          4
18-25 yrs   Home          129
            Work           83
            School         70
            Shopping       39
            Friend         34
            Other          31
            Social         16
            Restaurant      7
18-25yrs    Home            5
            Other           2
            School          1
            Social          1
            Work            1
26-35 yrs   Work          103
            Home           61
            Other          21
            Shopping       17
            Friend         16
            Social          6
            School          5
            Restaurant      1
26-35yrs    Work            6
            Home            2
36-45 yrs   Work           50
            Home           21
            Shopping       13
            Other           9
            Friend          5
            Social          5
            Restaurant      2
36-45yrs    Home            2
            Work            1
46-60 yrs   Work           21
            Home           12
            Shopping        6
            Other           4
            Social          4
            Friend          3
            School          1
> 60 yrs    Home            5
            Shopping        2
            Friend          1
            Other           1
            School          1
            Work            1
Name: count, dtype: int64

In [98]:
df.shape[0]

# drop duplicate entries with same ID
df.drop_duplicates(subset=['ID'], inplace=True)

In [99]:
trip_types = {
    'Home based work': [('Home', 'Work'), ('Work', 'Home')],
    'Home based education': [('Home', 'School'), ('School', 'Home')],
    'Home based other': [('Home', 'Other'), ('Other', 'Home'),('Home',  'Restaurant'), ( 'Restaurant', 'Home'),
                         ('Home', 'Shopping'), ('Shopping', 'Home'),('Home', 'Social'), ('Social', 'Home'),
                         ('Home', 'Friend'), ('Friend', 'Home'),],
}

In [100]:
# df=df.copy()
# all_trips = set((row['O_TYPE'], row['D_TYPE']) for _, row in df.iterrows())
# categorized_trips = set(trip for trips in trip_types.values() for trip in trips)
# non_home_based_trips = all_trips - categorized_trips
# trip_types['Non home based'] = list(non_home_based_trips)

# # Calculate the number of trips and percentages
# results = []
# trip_totals = {}
# trip_percentages = {}

# for trip_type, pairs in trip_types.items():
#     if trip_type == 'Non home based':
#         total_trips = sum(len(df[(df['O_TYPE'] == origin) & (df['D_TYPE'] == destination)]) for origin, destination in non_home_based_trips)
#         trip_totals[trip_type] = total_trips
#         trip_percentage = total_trips / len(df) * 100 if len(df) > 0 else 0
#         trip_percentages[trip_type] = round(trip_percentage,2)
#         results.append([trip_type, 'Non home', 'Non home', total_trips])
#     else:
#         total_trips = sum(len(df[(df['O_TYPE'] == origin) & (df['D_TYPE'] == destination)]) for origin, destination in pairs)
#         trip_totals[trip_type] = total_trips
#         trip_percentage = total_trips / len(df) * 100 if len(df) > 0 else 0
#         trip_percentages[trip_type] = trip_percentage
#         for origin, destination in pairs:
#             trip_count = len(df[(df['O_TYPE'] == origin) & (df['D_TYPE'] == destination)])
#             results.append([trip_type, origin, destination, trip_count])

# # Convert results to DataFrame
# results_df = pd.DataFrame(results, columns=['Type of trip', 'Origin', 'Destination', 'No of trips'])

# # Calculate %OD based
# total_trips = len(df)
# results_df['%OD based'] = round(results_df['No of trips'] / total_trips * 100,2)

# # Adding Sl No
# results_df.insert(0, 'Sl No', range(1, len(results_df) + 1))

# # Grouping by 'Type of trip'
# grouped_df = results_df.groupby('Type of trip')

# # Function to create a table with solid lines and centered text
# def print_solid_table(df, trip_totals, trip_percentages):
#     header = ["Sl No", "Type of trip", "Origin", "Destination", "No of trips", "%(type of trips)", "%OD based"]
#     max_len = {col: max(df[col].astype(str).map(len).max(), len(col)) if col in df else len(col) for col in header}
    
#     def draw_line():
#         line = "+"
#         for col in header:
#             line += "-" * (max_len[col] + 2) + "+"
#         print(line)

#     def draw_row(row, show_type, show_sl_no, show_percentage):
#         line = "|"
#         for col in header:
#             if col == "Type of trip" and not show_type:
#                 line += " " * (max_len[col] + 2) + "|"
#             elif col == "Sl No" and not show_sl_no:
#                 line += " " * (max_len[col] + 2) + "|"
#             elif col == "%(type of trips)" and not show_percentage:
#                 line += " " * (max_len[col] + 2) + "|"
#             else:
#                 line += " " + str(row[col]).center(max_len[col]) + " |"
#         print(line)

#     def draw_merged_row(index, label, count, percentage):
#         sl_no = str(index)
#         line = "| " + sl_no.center(max_len["Sl No"]) + " | " + label.center(max_len["Type of trip"]) + " |"
#         line += " " * (max_len["Origin"] + 2) + "|"
#         line += " " * (max_len["Destination"] + 2) + "|"
#         line += str(count).center(max_len["No of trips"] + 2) + "|"
#         line += str(round(percentage, 2)).center(max_len["%(type of trips)"] + 2) + "|"
#         line += " " * (max_len["%OD based"] + 2) + "|"
#         print(line)

#     draw_line()
#     draw_row({col: col for col in header}, True, True, True)
#     draw_line()
    
#     sl_no = 1
#     for trip_type, group in grouped_df:
#         draw_merged_row(sl_no, trip_type, trip_totals[trip_type], trip_percentages[trip_type])
#         type_trip_count = len(group)
#         for i, (_, row) in enumerate(group.iterrows()):
#             show_type = i < 0
#             show_sl_no = i == -1
#             draw_row(row, show_type, show_sl_no, False)
#             type_trip_count -= 1
#         draw_line()
#         sl_no += 1

# # Print the final table
# print_solid_table(results_df, trip_totals, trip_percentages)

# # Print the total number of samples
# # print(f"\nTotal number of samples: {total_trips}")

In [101]:
df['12'].value_counts()

12
For neither access nor egress trips     387
For both access and egress trips        231
For access trip only                    160
For egress trip only                     49
Name: count, dtype: int64

In [102]:
df['12'].unique()

choice_mapper={'For neither access nor egress trips ':2, 'For egress trip only ':1,
       'For both access and egress trips ':1, 'For access trip only ':2}

df['12']=df['12'].map(choice_mapper)

In [103]:
# remove duplicate rows with same id column from dataframe
# df.drop_duplicates(subset ="ID",inplace = True)

# print(df.shape)

# # print(access_df.shape,egress_df.shape)
# old_counts=df['12'].value_counts()
# print(old_counts)

# replacement_mapping = {4: 2, 3: 1}
# df['12'] = df['12'].replace(replacement_mapping)
new_counts = df['12'].value_counts()
print(new_counts)

12
2    547
1    280
Name: count, dtype: int64

In [104]:
dict={'Walk ':'Walk', 'Auto Rickshaw ':'Ride hire', 'Dropped-off by friends/others ':'Ride hire',
       'Two-Wheeler ':'Personal vehicle', 'Ola/Uber car ':'Personal vehicle', 'Bicycle ':'Personal vehicle', 'Car ':'Personal vehicle',
       'Rapido/Uber moto/Ola App two-wheeler ':'Ride hire', 'Shuttle':'Ride hire',
       'Rapido/uber moto/Ola App two-wheeler ':'Ride hire', 'Uber auto ':'Ride hire',
       'Company shuttle':'Ride hire', 'Office metro feeder':'Ride hire',
       'Dropped-off by friends/family members/others ':'Ride hire',
       'Drove and parked a two-Wheeler ':'Personal vehicle', 'Drove and parked a car ':'Personal vehicle',
       'Friends two wheeler':'Personal vehicle'}

df['10']=df['10'].map(dict)

In [105]:
df['18'].unique()

age_mapper={'> 60 yrs ':3, '18-25 yrs ':1, '26-35 yrs ':1, '18-25yrs ':1, '26-35yrs ':1,
       '46-60 yrs ':3, '36-45 yrs ':2, '36-45yrs ':2,'46-60yrs ':3,'> 60 yrs ':3, '18-25 yrs ':1, '26-35 yrs ':1, '26-35yrs ':1, '18-25yrs ':1,
       '46-60 yrs ':3, '36-45 yrs ':2, '36-45yrs ':2, '46-60yrs ':3}
df['AGE_C']=df['18'].map(age_mapper)


print(df['AGE_C'].value_counts())

df['AGE1']=0
df['AGE2']=0
df['AGE3']=0

# if AGE_C is 1 then AGE1 is 1
df.loc[df['AGE_C']==1,'AGE1']=1
# if AGE_C is 2 then AGE2 is 1
df.loc[df['AGE_C']==2,'AGE2']=1
# if AGE_C is 3 then AGE3 is 1
df.loc[df['AGE_C']==3,'AGE3']=1

AGE_C
1    657
2    108
3     62
Name: count, dtype: int64

In [106]:


print(df['28a'].isna().sum(),df['28b'].isna().sum(),df['28c'].isna().sum(),df['28d'].isna().sum(),df['28e'].isna().sum())
print(df['29a'].isna().sum(),df['29b'].isna().sum(),df['29c'].isna().sum(),df['29d'].isna().sum(),df['29e'].isna().sum())

0 0 0 0 0
0 0 0 0 0

In [107]:


df['28_sum']=df['28a']+df['28b']+df['28c']+df['28d']+df['28e']  

df['28_sum'].describe()

count    827.000000
mean       1.963889
std        1.733863
min        0.100000
25%        0.700000
50%        1.500000
75%        2.700000
max       14.500000
Name: 28_sum, dtype: float64

In [108]:
df['MAX_SLOPE']=0



for i in range(df.shape[0]):
    df.loc[i,'MAX_SLOPE']=max(df.loc[i,'28a'],df.loc[i,'28b'],df.loc[i,'28c'],df.loc[i,'28d'],df.loc[i,'28e'])

df['MAX_SLOPE'].describe()

C:\Users\PC\AppData\Local\Temp\ipykernel_98968\1508818740.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[i,'MAX_SLOPE']=max(df.loc[i,'28a'],df.loc[i,'28b'],df.loc[i,'28c'],df.loc[i,'28d'],df.loc[i,'28e'])

count    827.000000
mean       1.780605
std        1.651973
min        0.100000
25%        0.650000
50%        1.300000
75%        2.300000
max       14.500000
Name: MAX_SLOPE, dtype: float64

In [109]:
values = df[['29a', '29b', '29c', '29d', '29e']].to_numpy()
weights = df[['28a', '28b', '28c', '28d', '28e']].to_numpy()

df['AVG_SLOPE'] = np.average(values, axis=1, weights=weights)

df['MAX_SLOPE'] = values.max(axis=1)

# Create a 2D array of the slopes and their corresponding segments
slopes = df[['29a', '29b', '29c', '29d', '29e']].to_numpy()
segments = df[['28a', '28b', '28c', '28d', '28e']].to_numpy()

# Get the index of the maximum slope for each row
max_slope_indices = slopes.argmax(axis=1)

# Get the corresponding segment for each maximum slope
df['SEGMENT'] = segments[np.arange(len(df)), max_slope_indices]

# Verify the result
print(df[['AVG_SLOPE', 'MAX_SLOPE', 'SEGMENT']])

     AVG_SLOPE  MAX_SLOPE  SEGMENT
0    -1.000000      0.000     0.00
1     2.000000      2.000     0.10
2     0.667033      8.000     0.10
3    -0.096545      8.750     0.16
4     0.000000      0.000     0.11
..         ...        ...      ...
822   0.577000      0.577     8.50
823   1.278000      1.278     9.60
824   1.396000      1.396    10.60
825   0.423000      0.423    12.60
826   1.116000      1.116    14.50

[827 rows x 3 columns]

In [110]:
print(df['AVG_SLOPE'].describe(),df['MAX_SLOPE'].describe())

count    827.000000
mean       0.144552
std        1.453532
min       -5.334000
25%       -0.810250
50%        0.125213
75%        1.068360
max        5.250000
Name: AVG_SLOPE, dtype: float64 count    827.000000
mean       0.968377
std        1.296979
min        0.000000
25%        0.000000
50%        0.588000
75%        1.461000
max       10.000000
Name: MAX_SLOPE, dtype: float64

In [111]:
df.rename(columns = {'26':'DISTANCE', '27':'TIME','29a':'SLOPE','37':'INTERSECTIONS','38':'O_POP_DEN','40':'M_POP_DEN','42':'O_EMP_DEN',
                            '44':'M_EMP_DEN','12':'RENT_BICYCLE','17':'MALE','12':'RENT_BICYCLE','24':'RENT'}, inplace = True)

In [112]:
df['SLOPE'].describe()

count    827.000000
mean       0.131301
std        1.795146
min       -8.750000
25%       -1.057500
50%        0.182000
75%        1.235000
max        9.230000
Name: SLOPE, dtype: float64

In [113]:
df['UP']=0
df['DOWN']=0
df['FLAT']=0


# if SLOPE is positive then make POS as 1 else 0
df.loc[df['SLOPE']>1,'UP']=1
df.loc[df['SLOPE']<-1,'DOWN']=1
df.loc[(df['SLOPE']>=-1) & (df['SLOPE']<=1),'FLAT']=1


df['VEH']=0


# if CARS or TWO_WHEELER is greater than 1 then mark VEH as 1 else 0
df.loc[(df['22a']>1) | (df['22b']>1),'VEH']=1


df['SHORT']=0
df['MEDIUM']=0
df['LONG']=0

# if DISTANCE_MAP is less than 1 then make LOW as 1
df.loc[df['DISTANCE']<1,'SHORT']=1
# if DISTANCE_MAP is greater than 1 and less than 3 then make MEDIUM 1
df.loc[(df['DISTANCE']>=1) & (df['DISTANCE']<3),'MEDIUM']=1

# if DISTANCE_MAP is greater than 3 then make HIGH as 1
df.loc[df['DISTANCE']>=3,'LONG']=1

In [114]:
print(df[df['SLOPE']>1].shape[0])
print(df[df['SLOPE']<-1].shape[0])
print(df.shape[0]-186-139)

251
208
502

In [115]:
df['MAX_UP']=0
df['MAX_DOWN']=0
df['MAX_FLAT']=0    

df.loc[df['MAX_SLOPE']>1,'MAX_UP']=1
# df.loc[df['MAX_SLOPE']<-1,'MAX_DOWN']=1
# df.loc[(df['MAX_SLOPE']>=-1) & (df['MAX_SLOPE']<=1),'MAX_FLAT']=1

df['AVG_UP']=0
df['AVG_DOWN']=0
df['AVG_FLAT']=0

df.loc[df['AVG_SLOPE']>1,'AVG_UP']=1
df.loc[df['AVG_SLOPE']<-1,'AVG_DOWN']=1
df.loc[(df['AVG_SLOPE']>=-1) & (df['AVG_SLOPE']<=1),'AVG_FLAT']=1

In [116]:
df['UP']=0
df['DOWN']=0
df['FLAT']=0

# if SLOPE is positive then make POS as 1 else 0
df.loc[df['SLOPE']>1,'UP']=1
df.loc[df['SLOPE']<-1,'DOWN']=1
df.loc[(df['SLOPE']>=-1) & (df['SLOPE']<=1),'FLAT']=1

df['VEH']=0

df['POS']=0

# if slope is greater than 0 then POS is 1 else 0
df.loc[df['SLOPE']>0,'POS']=1

# if CARS or TWO_WHEELER is greater than 1 then mark VEH as 1 else 0
df.loc[(df['22a']>1) | (df['22b']>1),'VEH']=1


df['SHORT']=0
df['MEDIUM']=0
df['LONG']=0

# if DISTANCE_MAP is less than 1 then make LOW as 1
df.loc[df['DISTANCE']<1,'SHORT']=1
# if DISTANCE_MAP is greater than 1 and less than 3 then make MEDIUM 1
df.loc[(df['DISTANCE']>=1) & (df['DISTANCE']<3),'MEDIUM']=1
# if DISTANCE_MAP is greater than 3 then make HIGH as 1
df.loc[df['DISTANCE']>=3,'LONG']=1


df['AGE1']=0
df['AGE2']=0
df['AGE3']=0 

# if AGE_C is 1 then AGE1 is 1
df.loc[df['AGE_C']==1,'AGE1']=1
df.loc[df['AGE_C']==2,'AGE2']=1
df.loc[df['AGE_C']==3,'AGE3']=1

df['O_POP_DEN']=df['O_POP_DEN']/10000
df['O_EMP_DEN']=df['O_EMP_DEN']/10000
df['M_POP_DEN']=df['M_POP_DEN']/10000
df['M_EMP_DEN']=df['M_EMP_DEN']/10000


df['d_pop_low']=0
df['d_pop_med']=0
df['d_pop_high']=0

df['d_emp_high']=0
df['d_emp_med']=0
df['d_emp_low']=0

df['m_pop_low']=0
df['m_pop_med']=0
df['m_pop_high']=0

df['m_emp_low']=0
df['m_emp_med']=0
df['m_emp_high']=0

df.loc[df['O_POP_DEN']<1,'d_pop_low']=1
df.loc[(df['O_POP_DEN']>=1) & (df['O_POP_DEN']<3),'d_pop_med']=1
df.loc[df['O_POP_DEN']>=3,'d_pop_high']=1

df.loc[df['O_EMP_DEN']<1,'d_emp_low']=1
df.loc[(df['O_EMP_DEN']>=1) & (df['O_EMP_DEN']<3),'d_emp_med']=1
df.loc[df['O_EMP_DEN']>=3,'d_emp_high']=1

df.loc[df['M_POP_DEN']<1,'m_pop_low']=1
df.loc[(df['M_POP_DEN']>=1) & (df['M_POP_DEN']<3),'m_pop_med']=1
df.loc[df['M_POP_DEN']>=3,'m_pop_high']=1

df.loc[df['M_EMP_DEN']<1,'m_emp_low']=1
df.loc[(df['M_EMP_DEN']>=1) & (df['M_EMP_DEN']<3),'m_emp_med']=1
df.loc[df['M_EMP_DEN']>=3,'m_emp_high']=1

In [117]:
df.columns

Index(['ID', 'A_SLOPE_TYPE', '25a', '25b', 'DISTANCE', 'TIME', '28a', '28b',
       '28c', '28d',
       ...
       'd_pop_high', 'd_emp_high', 'd_emp_med', 'd_emp_low', 'm_pop_low',
       'm_pop_med', 'm_pop_high', 'm_emp_low', 'm_emp_med', 'm_emp_high'],
      dtype='object', length=120)

In [118]:
df['NEW']=df['SEGMENT']/df['DISTANCE']
df['PART1']=0
df['PART2']=0
df['PART3']=0

df.loc[df['NEW']<0.25,'PART1']=1
df.loc[(df['NEW']>=0.25) & (df['NEW']<0.75),'PART2']=1
df.loc[df['NEW']>=0.75,'PART3']=1

In [119]:
gender_map= {'Male': 1, 'Female': 0}
df['MALE'] = df['MALE'].map(gender_map)

In [120]:
df['WORK']=0
df.loc[(df['6']=='Work') | (df['6']=='Work'),'WORK']=1

df['DEN']=0
df['DEN']=df['INTERSECTIONS']/df['DISTANCE']

df=df[df['DEN']<30]

df['HIGH']=0
df['MED']=0

# if DEN is greater than 66 percentile of data of DEN then HIGH is 1 for that entry
# if DEN is between 33 and 66 percentiles of data of DEN then MED is 1 for that entry
df.loc[df['DEN']>df['DEN'].quantile(0.66),'HIGH']=1
df.loc[(df['DEN']<=df['DEN'].quantile(0.66)) & (df['DEN']>df['DEN'].quantile(0.33)),'MED']=1



df['UNO']=1

df['DIST1']=0
df['DIST2']=0
df['DIST3']=0
df['DIST4']=0
df['DIST5']=0

df.loc[df['DISTANCE']<1,'DIST1']=1
df.loc[(df['DISTANCE']>=1) & (df['DISTANCE']<2),'DIST2']=1
df.loc[(df['DISTANCE']>=2) & (df['DISTANCE']<3),'DIST3']=1
df.loc[(df['DISTANCE']>=3) & (df['DISTANCE']<4),'DIST4']=1
df.loc[df['DISTANCE']>=4,'DIST5']=1


# drop the rows where DIST1 equals 1
# df.drop(df[df['DIST1']==1].index, inplace=True)

# df[['ID', 'RENT_BICYCLE','MALE', 'SLOPE', 'DISTANCE', 'AGE1','AGE2','AGE3','AVG_SLOPE','MAX_SLOPE','SEGMENT','PART1','PART2','PART3',
#            'TIME','VEH','INTERSECTIONS','WORK','UNO','D_POP_DEN','D_EMP_DEN','M_POP_DEN','M_EMP_DEN','d_pop_med','d_pop_high','d_emp_med','d_emp_high','d_pop_low','m_pop_low',
#            'm_pop_low','m_pop_high','m_pop_med','m_emp_low','m_emp_med','m_emp_high','DEN','RENT','MAX_UP','AVG_UP','AVG_DOWN','AVG_FLAT',
#            'UP','DOWN','FLAT','LONG','SHORT','MEDIUM','DIST1','DIST2','DIST3','DIST4','DIST5']].to_csv(path+"new_egress_data_analysis.csv",index=True)

In [121]:
print(df.loc[df['SEGMENT']<=1].shape[0])
print(df.loc[(df['SEGMENT']>1) & (df['SEGMENT']<=2)].shape[0])
print(df.loc[(df['SEGMENT']>2) & (df['SEGMENT']<=3)].shape[0])
print(df.loc[(df['SEGMENT']>3) & (df['SEGMENT']<=4)].shape[0])
print(df.loc[(df['SEGMENT']>4) & (df['SEGMENT']<=5)].shape[0])

485
133
69
33
21

In [122]:
df['DIST']=0
df.loc[df['DIST1']==1,'DIST']=1
df.loc[df['DIST2']==1,'DIST']=2
df.loc[df['DIST3']==1,'DIST']=3
df.loc[df['DIST4']==1,'DIST']=4
df.loc[df['DIST5']==1,'DIST']=5

df['PART']=0
df.loc[df['PART1']==1,'PART']=1
df.loc[df['PART2']==1,'PART']=2
df.loc[df['PART3']==1,'PART']=3

df['KART']=0

df.loc[df['UP']==1,'KART']=1
df.loc[df['DOWN']==1,'KART']=2
df.loc[df['FLAT']==1,'KART']=3

In [125]:
df.groupby('DIST')['PART'].value_counts()

DIST  PART
1     3       133
      1       106
      2         6
2     3       114
      1        82
      2        14
3     3        71
      1        56
      2        12
4     3        34
      1        24
      2        10
5     3        58
      1        43
      2        10
Name: count, dtype: int64